/*
	Installed from https://reactbits.dev/ts/default/
*/

.infinite-scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
 
}

.infinite-scroll-wrapper::before,
.infinite-scroll-wrapper::after {
  content: "";
  position: absolute;
  height: 25%;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.infinite-scroll-wrapper::before {
  top: 0;
}

.infinite-scroll-wrapper::after {
  --dir: to top;
  bottom: 0;
}

/* Esmaecimento nas laterais */
.infinite-scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

.infinite-scroll-wrapper::before,
.infinite-scroll-wrapper::after {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

/* Esmaecimento superior e inferior */
.infinite-scroll-wrapper::before {
  top: 0;
  left: 0;
  right: 0;
  height: 25%;
}

.infinite-scroll-wrapper::after {
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
}

.infinite-scroll-container {
  display: flex;
  flex-direction: column;
  overscroll-behavior: contain;
  padding-inline: 1rem;
  cursor: grab;
  transform-origin: center center;
}

.infinite-scroll-item {
  --accent-color: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  user-select: none;
  box-sizing: border-box;
  position: relative;
  min-height: 200px;
}

.infinite-scroll-item:first-child {
  margin-top: 0;
}

.infinite-scroll-item:last-child {
  margin-bottom: 0;
}